


.footer-container-post {
    padding-top: 60px;

    @include tablet {
       display: flex;
       flex-direction: column;
    
       
    }

    @include desktop {
margin-left: 93px;
    }


}

.footer-form-block {
    display: flex;
    flex-wrap: wrap;
    gap: 21px;

    @include desktop {
display: flex;
    }
}

.footer-label-titl {
    display: block;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;

    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--fons-color);
}

.footer-form-input {

    padding-top: 15px;
    padding-right: 16px;
    padding-bottom: 15px;
    padding-left: 16px;
    background-color: inherit;
    width: 100%;
    outline: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

    border-radius: 4px;
    &:focus {
            color: var(--fons-color);
        }

        @include tablet {
            width: 450px;
        }

        @include desktop {
           width: 358px;
        }
}




.footer-form-post {
    display: grid;
    gap: 20px;

    @include tablet {
      
       
    }
    @include desktop {
       display: flex;
    gap: 12px;
    }

}