:root {
    --main-color: #212121;
    --accent-color: #2196F3;
    --fons-color: #FFFFFF;
    --background-button: #188CE8;
    --background-grey: #757575;
    --background-image: #EEEEEE;
    --background-black: #000000;
    --background-clip: #F5F4FA;
    --background-silver: #FFFFFF99;
    --background-coal: #2F303A;
    --background-pearl: #ECECEC;
    --hero-gradient:linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4));
    
}





p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

button {
    display: block;
    cursor: pointer;
    text-decoration: none;
    border: none;
    border-radius: 4px;
}

address {
    font-style: normal;
}

img {
    display: block;
    
    max-width: 100%;
    height: auto;
// незабудь убрать 
      width: 100%; 

}

body {
    font-family: 'Roboto', sans-serif;
    color: #212121;
    background-color: var(--fons-color);
    font-size: 14px;
    letter-spacing: 0.03em;
}

textarea {
    resize: none;
}

