.benefits {
    
padding: 60px 0;
       
@include tablet {
    min-width: 768px;
    padding: 30px 0;
}

@include desktop {
    padding: 90px 0;
}
}

.aside-container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin-bottom: 30px;

    
    // width: 450px;
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;

    background: #F5F4FA;

    border-radius: 4px;

    @include tablet {
        width: 354px;
    }

    @include desktop {
        width: 270px;
    }
}
   
.benefits__item {

    margin-bottom: 30px;

@include tablet {
        
        width: calc((100% - 30px) /2);
    }
}

.benefits__item:not(:last-child) {
    margin-bottom: 0;
}

.benefits__list {
    gap: 30px;

@include tablet {
    display: flex;
     flex-wrap: wrap;
   
}

        @include desktop {
            display: flex;
              flex-wrap: nowrap;
        
    }
}

.benefits__caption {

  text-align: center;


    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;

    color: #212121;


@include tablet {
display: flex;

}

@include desktop {
 
    }
}
   



.benefits__tex {
    line-height: 1.7;
    color: #757575;

}