.hero {
    padding: 118px 0;
    text-align: center;
    max-width: 480px;
    height: 400px;

    background: #2F303A;

    background-image: var(--hero-gradient), url(../images/hero.img/mobile.jpg);
    background-repeat: no-repeat;
    
    background-size: cover;
    margin: 0 auto;

    @include retina {
        background-image: var(--hero-gradient), url(../images/hero.img/mobile-2x.jpg);
        }


    @include tablet {
        max-width: 768px;
        height: 400px;
        background-image: var(--hero-gradient), url(../images/hero.img/tablet.jpg);

        @include retina {
                background-image: var(--hero-gradient), url(../images/hero.img/tablet-2x.jpg);
            }

    }
@include desktop {
    padding-top: 200px;
        padding-bottom: 200px;
        background-position: center;
    height: 600px;
    max-width: 1600px;
    background-image: var(--hero-gradient), url(../images/hero.img/hero.img.jpg);

    @include retina {
            background-image: var(--hero-gradient), url(../images/hero.img/desktop-2x.jpg);
        }

}
}

.hero__titl {
    
    max-width: 360px;
    margin: 0 auto;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--fons-color);


    @include tablet {

    }

    @include desktop {
        font-size: 44px;
        line-height: 1.36;
        max-width: 696px;


    }
}

